{% extends 'student/base.html' %}
{% load static %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>GPA</th>
                <th>Semester</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses_taken %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.course_gpa}}</td>
                    <td>{{course.semester}}</td>
                    <td>{{course.year}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}