{% extends 'index/base.html' %}

{% block content %}
    <p style="color:red;">{{update}}</p>
    <form method="POST" action = "" >
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="cid">Course ID</label>
                <input type="text" class="form-control" id="cid" placeholder="course ID" name="courseID" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" name="name" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="school">school</label>
                <input type="text" class="form-control" id="school" placeholder="school" name="school" required>
            </div>
            
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="major">Major</label>
                <select type="text" id="major" name="major" class="form-control" required>
                    {% for major in majors %}
                        <option value="{{major.id}}">{{major.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="instructor">Instructor</label>
                <select type="text" id="instructor" name="instructor" class="form-control" required>
                    {% for instructor in instructors %}
                        <option value="{{instructor.instructor_id}}">{{instructor.name}}-{{instructor.instructor_id}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="courseCap">course cap</label>
                <input type="text" class="form-control" id="courseCap" name="courseCap" placeholder="course cap" required>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="sem">semester</label>
                <select type="text" id="sem" name="semester" class="form-control" required>
                    <option value="fall">Fall</option>
                    <option value="spring">Spring</option>
                    <option value="summer">Summer</option>
                </select>
            </div>
            <div class="col-md-4 mb-3">
                <label for="year">year</label>
                <input type="text" class="form-control" id="year" placeholder="year" name="year" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="ch">credit hours</label>
                <input type="text" class="form-control" id="ch" placeholder="credit hours" name="creditHours" required>
            </div>
            
        </div>
        <br><br>
        <input type="submit" class="btn btn-primary btn-block" value="Submit!"/>
    </form>

{% endblock content %}